@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-w8mnev).ant-steps
    .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #198754;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-steps
    .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #198754;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-steps
    .ant-steps-item-process
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #198754;
}
